
<div flex layout="column" tabIndex="-1" role="main"
	ng-controller="UserController as ul" class="md-whiteframe-z2">
 Users Screen
<!-- 
	<md-content flex id="content"> <md-icon
		md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon> TEST
	<h2>{{ul.selected.name}}</h2>
	<p>{{ul.selected.content}}</p>

	<md-button class="contact" md-no-ink
		ng-click="ul.showContactOptions($event)" aria-label="Contact User">
	<md-tooltip>Contact {{ ul.selected.name }}</md-tooltip> <md-icon
		md-svg-icon="share"></md-icon> </md-button> </md-content>
	<md-bottom-sheet class="md-list md-has-header"> <md-subheader>
	Contact <span class="name">{{ cp.user.name }}</span>: </md-subheader> <md-list>
	<md-item ng-repeat="item in cp.actions"> <md-button
		ng-click="cp.submitContact(item)" id="item_{{$index}}"> <md-icon
		md-svg-icon="{{ item.icon_url }}"></md-icon> {{item.name}} </md-button> </md-item> </md-list> </md-bottom-sheet> -->

</div>

