

.md-padding {
      padding: 10px 10px 0px 11px ;
      padding: 10px 10px 0px 10px ;
}
md-card {
    box-shadow:none;
}
#frame1{
    box-shadow:none;

}
#frame{
box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
md-input-container .md-input {
    font-size: 11px;
}
#packagefontsize
{
      font-size: 11px;
}
md-checkbox {
   margin-bottom: 0px;
}
md-checkbox ._md-icon {
   width: 16px;
    height: 16px;
    }
#headingtext
{
 font-size: 16px;
}
#heading
{
 margin: 0px 8px 10px 0px;
 height: 18px;
    width: 18px;
   
}
#textcolor
{
    
color:#fff;
}
.card-header:not(.ch-alt)
 {
    padding: 13px 13px;
}
.col-sm-4 {
    width: 60%;
    padding-left: 0px;
    padding-right: 0px;
}
 .card-body.card-padding {
 background-color: #fff;
    padding: 10px 10px;
}  
     
md-icon {
    margin: 0px 8px 10px 0px;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 14px;
    width: 14px;
}
#head {

 padding: 5px 0px 0px;

}
#card {

 padding: 12px 0px 0px;
box-shadow:none;
    margin: 0px;
}
#package
{
padding: 5px 0px 0px;
}
md-input-container {
    
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}
md-input-container .md-errors-spacer {
    float: right;
    min-height: 0px;
    min-width: 0px;
}

.login-content {
    overflow: hidden;
    height: 98%;
    width:98%;
}



body {
    margin: 0;
}
*, *:active, *:hover {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
*, button, input, i, a {
    -webkit-font-smoothing: antialiased;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#gold{
    border-radius: 0px;

    color: black;
    display: inline-block;
    
    margin: 12px 12px;
    line-height: 200px;
    min-height: 90px;
    background:#FFFF33;
   font-size: 13px;
    min-width: 180px;
   text-transform: capitalize;
    
}
#platinum{
    border-radius: 0px;

    color: black;
    display: inline-block;
    
    margin: 12px 12px;
    line-height: 200px;
    min-height: 60px;
    background:#00CC66;
   font-size: 13px;
    min-width: 200px;
   text-transform: capitalize;
    
}
#platinump{
    border-radius: 0px;

    color: black;
    display: inline-block;
    
    margin: 12px 12px;
    line-height: 200px;
    min-height: 60px;
    background:#9966CC;
   font-size: 13px;
    min-width: 200px;
   text-transform: capitalize;
    
}
.login-content:before {
    height: 53%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: skyblue;
    content: "";
    z-index: 0;
}


.lc-block.toggled {
    z-index: 8;
}
.lc-block:not(.lcb-alt) {
    padding: 20px 0px 0px 20px;
}

.lc-block {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
   
    display: inline-block;
    position: absolute;
        top: 45%;
        left: 50%;
         margin-top: 42px;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

div {
    display: block;
}

