
<style>
.md-padding {
      padding: 10px 10px 0px 11px ;
      padding: 10px 10px 0px 10px ;
}
md-card {
    box-shadow:none;
}
#frame1{
    box-shadow:none;

}
#frame{
box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}
md-input-container .md-input {
    font-size: 11px;
}
#packagefontsize
{
      font-size: 11px;
}
md-checkbox {
   margin-bottom: 0px;
}
md-checkbox ._md-icon {
   width: 16px;
    height: 16px;
    }
#headingtext
{
 font-size: 16px;
}
#heading
{
 margin: 0px 8px 10px 0px;
 height: 18px;
    width: 18px;
   
}
#textcolor
{
    
color:#fff;
}
.card-header:not(.ch-alt)
 {
    padding: 13px 13px;
}
.col-sm-4 {
    width: 60%;
    padding-left: 0px;
    padding-right: 0px;
}
 .card-body.card-padding {
 background-color: #fff;
    padding: 10px 10px;
}  
     
md-icon {
    margin: 0px 8px 10px 0px;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 14px;
    width: 14px;
}
#head {

 padding: 5px 0px 0px;

}
#card {

 padding: 12px 0px 0px;
box-shadow:none;
    margin: 0px;
}
#package
{
padding: 5px 0px 0px;
}
md-input-container {
    
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}
md-input-container .md-errors-spacer {
    float: right;
    min-height: 0px;
    min-width: 0px;
}

.login-content {
    overflow: hidden;
    height: 98%;
    width:98%;
}



body {
    margin: 0;
}
*, *:active, *:hover {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
*, button, input, i, a {
    -webkit-font-smoothing: antialiased;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#gold{
    border-radius: 0px;

    color: black;
    display: inline-block;
    
    margin: 12px 12px;
    line-height: 200px;
    min-height: 90px;
    background:#FFFF33;
   font-size: 13px;
    min-width: 180px;
   text-transform: capitalize;
    
}
#platinum{
    border-radius: 0px;

    color: black;
    display: inline-block;
    
    margin: 12px 12px;
    line-height: 200px;
    min-height: 60px;
    background:#00CC66;
   font-size: 13px;
    min-width: 200px;
   text-transform: capitalize;
    
}
#platinump{
    border-radius: 0px;

    color: black;
    display: inline-block;
    
    margin: 12px 12px;
    line-height: 200px;
    min-height: 60px;
    background:#9966CC;
   font-size: 13px;
    min-width: 200px;
   text-transform: capitalize;
    
}
.login-content:before {
    height: 53%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: skyblue;
    content: "";
    z-index: 0;
}


.lc-block.toggled {
    z-index: 8;
}
.lc-block:not(.lcb-alt) {
    padding: 20px 0px 0px 20px;
}

.lc-block {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
   
    display: inline-block;
    position: absolute;
        top: 45%;
        left: 50%;
         margin-top: 42px;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

div {
    display: block;
}

</style>


<div flex layout="column" tabIndex="-1" role="main"

      ng-controller="schoolSignupCtrl as ul" class="md-whiteframe-z2"ng-init="ul.load()" id="frame1">

      <app-header></app-header>

      <div class="login-content ng-scope">

            <md-content flex-xs flex-gt-xs="60" class="md-padding" layout-xs="column" layout="row" style="font-family: roboto;margin-bottom:2%;margin-top:6%;margin-left:23%;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
            font-size: 13px;
            line-height: 1.42857143;">

                

                        <div layout="column">

                         <form name="signUpForm">

                              <div>

                                   <md-card>

                                          <md-content>

                                          <div class=" layout-xs-column layout-row" layout-xs="column" layout="row" >

                                                      <span>

                                                            <md-icon md-svg-icon="school_black"></md-icon>

                                                      </span>

                                                      <label><b>School Details</b></label>

                                                </div>

                                                <md-card class=" layout-xs-column layout-row" layout-xs="column" layout="row" id="card">

                                                <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">

                                                      <md-input-container>

                                                            <label>School Name</label> 

                                                                  <input name="schoolName" ng-model="schoolName" required size="31">

                                                                 <span style="color:red" ng-show="signUpForm.schoolName.$dirty && signUpForm.schoolName.$invalid">

                                                            <span ng-show="signUpForm.schoolName.$error.required" class="help-block">

                                                            school Name is required.</span></span>

                                                           </md-input-container>

                                                </div>

                                                <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">

                                                      <md-input-container>

                                                      <label>School Location</label> 

                                                                  <input name="schoolLocation" ng-model="schoolLocation" required size="31">

                                                                 <span style="color:red" ng-show="signUpForm.schoolLocation.$dirty && signUpForm.schoolLocation.$invalid">

                                                            <span ng-show="signUpForm.schoolLocation.$error.required" class="help-block">Location is required.</span></span>

                                                           </md-input-container>

                                                </div>

                                          </md-card>

                                                <div class=" layout-xs-column layout-row" layout-xs="column" layout="row" id="head">

                                                      <span>

                                                            <md-icon md-svg-icon="person_black"> </md-icon></span>

                                                <label><b>User Details</b></label>

                                          </div>

                                                <md-card class=" layout-xs-column layout-row" layout-xs="column"layout="row" id="card">

                                                <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">

                                                      <md-input-container>

                                                                  <label>First Name</label> 

                                                                        <input name="firstName" ng-model="firstName" required size="31">

                                                                       <span style="color:red" ng-show="signUpForm.firstName.$dirty && signUpForm.firstName.$invalid">

                                                            <span ng-show="signUpForm.firstName.$error.required" class="help-block">first name is required.</span></span>

                                                                 </md-input-container>

                                                      </div>

                                                      <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">

                                                      <md-input-container>

                                                            <label>Middle Name</label> 

                                                                  <input name="middleName" ng-model="middleName" required size="31">

                                                                 <span style="color:red" ng-show="signUpForm.middleName.$dirty && signUpForm.middleName.$invalid">

                                                                  <span ng-show="signUpForm.middleName.$error.required" class="help-block">middle name is required.</span></span>

                                                                 </md-input-container>

                                                      </div>

                                                      <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">

                                                      <md-input-container>

                                                            <label>Last Name</label> 

                                                                  <input name="lastName" ng-model="lastName" required size="31">

                                                                 <span style="color:red" ng-show="signUpForm.lastName.$dirty && signUpForm.lastName.$invalid">

                                                                  <span ng-show="signUpForm.lastName.$error.required" class="help-block">last name is required.</span></span>

                                                                 </md-input-container>

                                                </div>

                                          </md-card>

                                                <md-card class=" layout-xs-column layout-row" layout-xs="column" layout="row" id="card">

                                                      <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">

                                                            <md-input-container>

                                                            <label>Email Id</label> 

                                                                  <input name="emailId" ng-model="emailId" type="email" required size="31" >

                                                                 <span style="color:red" ng-show="signUpForm.emailId.$dirty && signUpForm.emailId.$invalid">

                                                                        <span ng-show="signUpForm.emailId.$error.required">Email is required.</span>

                                                                        <span ng-show="signUpForm.emailId.$error.email">Invalid email address.</span>

                                                                  </span>

                                                      </md-input-container>  

                                                      </div>

                                                <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">

                                                            <md-input-container>

                                                            <label>Contact No</label> 

                                                                  <input type="number" name="contactNo" ng-model="contactNo" required size="31" id="contact">

                                                                 <span style="color:red" ng-show="signUpForm.contactNo.$dirty && signUpForm.contactNo.$invalid">

                                                                        <span class="help-block" ng-show="signUpForm.contactNo.$error.required && signUpForm.contactNo.$error.number">Valid phone number is required</span>

                                                                        <span class="help-block" ng-show="((signUpForm.contactNo.$error.minlength ||signUpForm.contactNo.$error.maxlength)) ">phone number should be 10 digits</span>

                                                            </span>

                                                            </md-input-container>

                                                </div>

                                          </md-card>

                                                <md-card class=" layout-xs-column layout-row" layout-xs="column"layout="row" id="card">      

                                                      <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">     

                                                      <md-input-container>

                                                            <label>Password</label> 

                                                                        <input name="pass" ng-keyup="checkPass()" ng-model="pass" type="password"   required size="31" >

                                                                       <span style="color:red" ng-show="signUpForm.pass.$dirty && signUpForm.pass.$touched && signUpForm.pass.$invalid">

                                                                  <span class="help-block" ng-show="signUpForm.pass.$error.required">Password is required.</span></span>

                                                      </md-input-container>

                                                </div>

                                                      <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">

                                                      <md-input-container>

                                                            <label>Reenter Password</label> 

                                                            <input name="rePass"ng-keyup="checkPass()" ng-model="rePass" type="password" required size="31">

                                                      </md-input-container>

                                                </div>

                                                      <span ng-show="error">{{error}}</span>

                                                </md-card>

                                                <div class=" layout-xs-column layout-row" layout-xs="column"layout="row" id="package" id="card">

                                                <span>                                                     

                                                            <md-icon md-svg-icon="school_black"> </md-icon>

                                                      </span>

                                                      <label><b>Available Package</b></label>

                                                </div>

                                                <md-card class=" layout-xs-column layout-row" layout-xs="column" layout="row"  id="packagefontsize">

                                                      <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">

                                                            <md-card>

                                                                  <div class="card" >

                                                                  <div class="card-header bgm-orange" id="textcolor">

                                                                        <label>Gold</label><label>  [Total:{{gold}}Rs.]</label>

                                                                  </div>

                                                                  <div class="card-body card-padding" layout="column">

                                                                  <div ng-repeat="message1 in messages1">

                                                                        <md-checkbox  ng-model="message1.checked" ng-change="sum(message1,'gold')" >

                                                                              {{ message1.title }}

                                                                              </md-checkbox>

                                                                        </div>       

                                                                  </div>

                                                            </div> 

                                                            </md-card>    

                                                      </div>

                                                      <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">

                                                                  <md-card>

                                                                  <div class="card">

                                                                  <div class="card-header bgm-green" id="textcolor">

                                                                        <label>Platinum</label><label>  [Total:{{platinum}}Rs.]</label>

                                                                  </div>

                                                                  <div class="card-body card-padding" layout="column">

                                                                        <div ng-repeat="message2 in messages2">

                                                                        <md-checkbox  ng-model="message2.checked" ng-change="sum(message2,'platinum')" >

                                                                              {{ message2.title }}

                                                                        </md-checkbox>

                                                                        </div>

                                                                  </div>

                                                                  </div>

                                                      </md-card>

                                                      </div>

                                                      <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">

                                                                  <md-card>

                                                            <div class="card">     

                                                                  <div class="card-header bgm-red" id="textcolor">

                                                                        <label>Platinum Plus</label> <label>  [Total:{{platinump}}Rs.]</label>

                                                                  </div>

                                                                  <div class="card-body card-padding">

                                                                        <div ng-repeat="message3 in messages3">

                                                                        <md-checkbox  ng-model="message3.checked" ng-change="sum(message3,'platinump')" >

                                                                              {{ message3.title }}

                                                                        </md-checkbox>

                                                                        </div>

                                                                  </div>

                                                            </div>

                                                            </md-card>

                                                      </div>

                                                </md-card>

                                          </md-content>

                               </md-card>

                              </div>

                        </form>

                  </div>

                

            </md-content>

     </div>         

</div>