$bcg-clr : skyblue;
$prt-red : #f44336;
$black : black;
$prt-orange : #ff9800;
$white : #ffffff;
$mdr-violet : #9966cc;
$lime-green : #00cc66;
$vivid-yellow: #ffff33;
$drak-grey: #4c4c4c;
$gray: #A9A9A9;
$vivid-blue: #2196f3;
$pure-orange: #ffa500;
$str-green: #1ec01e;