md-checkbox ._md-icon {
   
    left: 35px;
    }
md-checkbox ._md-label {
   margin-left: 60px;
}
#reg {
    border-radius: 15px;

    color: #fff;
    display: inline-block;
    
    margin:10px 10px 10px 33px;
    line-height: 23px;
    min-height: 16px;
    background:#ff9800;
   font-size: 13px;
    min-width: 16px;
   
    text-transform: capitalize;
    
   
}
#forgot {
    border-radius: 15px;

    color: #fff;
    display: inline-block;
    
    margin: 6px 8px;
    line-height: 23px;
    min-height: 16px;
    background:#ff9800;
   font-size: 13px;
    min-width: 16px;
  
    text-align: center;
    text-transform: capitalize;
    
   
}
md-input-container {
   
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}
#arrow {
    margin: 6px;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 24px;
    width: 24px;
}
md-icon {
    margin: 10px;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 14px;
    width: 14px;
}
.login-content {
    overflow: hidden;
    height: 100%;
}
body {
    font-weight: 400;
    position: relative;
}
a:not(.md-button) {
    color: black;
}

body {
    margin: 0;
}
*, *:active, *:hover {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
*, button, input, i, a {
    -webkit-font-smoothing: antialiased;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-content:before {
    height: 53%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: skyblue;
    content: "";
    z-index: 0;
}


.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: -40px;
    bottom: 90px;
    left: auto;
    position: absolute;
        background-color: #f44336;
}



.lc-block.toggled {
    z-index: 10;
}
.lc-block:not(.lcb-alt) {
    padding: 45px 95px 35px;
}

.lc-block {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
   
    display: inline-block;
    position: absolute;
        top: 45%;
        left: 50%;
         margin-top: 42px;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

div {
    display: block;
}
