
footer {

      width: 97%;
    height: 17px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;    
}
#label
{
text-align:center;
position: fixed;
left: 0;
right:0;
bottom:5%;
z-index: 1000;
}
md-bottom-sheet {
top:83%;
    padding: 0px 0px 0px;
     width:98%;
height:2px;
position: static;
 }
#row
{
      margin: 0px;
box-shadow: none;
}
#license-footer
{
    align-self: flex-end;
    padding: 16px 32px;
    width: 100%;
    text-align: left;
    font-size: small;
    border-top: 1px solid #ddd;
}