
footer {

      width: 100%;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;	
}
#label
{
text-align:center;
}
md-bottom-sheet {
top:83%;
    padding: 0px 0px 0px;
     width:100%;
height:2px;
 }
#row
{
box-shadow: none;
}