 @import 'body';
 @import 'green';
#chat{
position: relative;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: -3px;
    right: 7px;
    border: 2px solid #FFF;}
#userstyle
    {
    display: block;
    height: 129px;
    margin-bottom: 5px;
    width: 100%;
   font-size: 13px;
    background-size: 100%;
    }
#toolbarstyle
    { 
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position:fixed;
    z-index: 2;
    font-size: 13px;
    min-height: 10px;
    height: 60px;
    width: 100%;
    left:0px;
    top:0px;
     max-height: 60px;
     transform: translate3d(0,0,0) !important;
    transition-duration: 700ms !important;
    transition-property: background-color,fill,color;
    }
#toolbarnew {
  
 @extend #toolbarstyle;
 
   
}

    @media only screen and (max-width:500px) 
{
  .md-sidenav-right, md-sidenav {
     height: 75% !important;
     z-index: 900 !important;
}
}
@media only screen and (max-width:500px) 
{
  .md-sidenav-left, md-sidenav {
     height: 75% !important;
     z-index: 900 !important;
}
}
@media only screen and (max-width:800px) 
{
  #toolbarIcon{
   padding:0px  !important;
       margin: 0px !important;
       height:24px !important;
           width:24px !important;
}
}
@media only screen and (max-width:600px) 
{
#newtoolbarrow
{
padding:0px 0px 0px 50px !important;
}
}
@media only screen and (max-width:500px) 
{
#find
{
  width:40px !important;
}
  }
@media only screen and (max-width:900px) 
{
#find
{
  width:150px !important;
}
  }

@media only screen and (max-width:750px) 
{
#hover {
    width: 40px !important;
    height: 35px !important;
    }
  }
@media only screen and (max-width:750px) 
{
  md-menu-content{
        top:30% !important;
    }
  }
 
.chat-status-aval {
      box-shadow: 0 0 0 1px #1ec01e;
    background: #1ec01e;
    @extend #chat;
}
.chat-status-busy {
  box-shadow: 0 0 0 1px #ffa500;
    background: #ffa500;
    @extend #chat;
}
  .leftsidenav:hover,.leftsidenav:focus {
   background-color: rgba(0, 0, 0, 0) !important;
    color: $black !important;
    
}
  .ss-skin {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 2px 5px;
    
}
  .progress {
    box-shadow: none;
    border-radius: 0;
    height: 5px;
    margin-bottom: 0;
}
 .progress-bar {
    float: left;
   
    height: 100%;
    font-size: 12px;
    line-height: 18px;
    color: $white;
    text-align: center;
    background-color: #2196f3;
transition: width 0.6s ease;
}
 .tmn-counts {
    position: absolute;
    font-style: normal;
    background: $prt-red;
    padding: 1px 5px;
    border-radius: 2px;
    right: 7px;
    top: -3px;
    color:white;
    font-size: 10px;
    line-height: 15px;
}
  #area
 {    line-height: 1.42857143;
  font-weight: 500;
      font-family:sans-serif;
    font-size: 13px;
        
 }
  input:focus {
   outline-offset: -2px;
    box-shadow: none !important;
}

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
  
  #menu1
  {
 width: 200px;
 max-height: 300px;
  }
  md-menu-content {
    width: 305px;
 max-height: 900px;
     padding: 0px;
}




#para
{
  font-size: 12px;
    color: #A9A9A9;overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
#prof
{
  padding: 12px;
}
#hover1{
top:25px;
  width:45px;
  height:32px;
      text-decoration: none;
 
  color: $white;
    display: block;
    text-align: center;
    z-index: 1;
    position: relative;
   
}
#hover{

  width:55px;
  height:35px;
      text-decoration: none;
  -webkit-font-smoothing: antialiased;
  color: $white;
    display: block;
    text-align: center;
    z-index: 1;
    position: relative;
   
}
a:hover,a:focus {
  outline: none !important;
     background-color: rgba(0, 0, 0, 0.14) !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

  md-input-container .md-input {
   border-color: rgba(0,0,0,0);
   
}
  md-input-container .md-errors-spacer {
    min-height: 20px;
}
.leftsidenav
{ 
 
     
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
  a:not(.md-button) {

     color:#4C4C4C !important;

}
a:-webkit-any-link {
    text-decoration: none;
}


 
#profileinfo
{
      background: rgba(0, 0, 0, 0.37);
        padding: 4px;
    color: $white;
    margin-top: 23px;
    position: relative;
}
#userinfo
{
  @extend  #userstyle;
}
#userprofile
{
  @extend  #userstyle;
}
.profilepic > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:none;
    box-sizing: content-box;
}

md-backdrop.md-opaque {
    opacity:0 !important;
}
#userlist {
     padding: 10px;
     color: $black;
}       
#icon
{
   padding: 15px;
    margin: 0px 0px;
    line-height: 26px;
    min-height: 26px;
    
    min-width: 26px;
}
 .md-button.dropdown {
  overflow: visible; /*reset*/
}

.dropdown .dropdown-menu {
  max-width: 0;
  position: absolute;
  left: 40px;
  top: 100%;
  margin: 0;
  padding: 40px;
  opacity: 0;
  overflow: hidden;
  background-color: $white;
  list-style: none;
  transition: min-width 0.2s ease-in-out, left 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.dropdown .dropdown-menu .md-button {
  min-width: 100%;
  border-radius: 0;
  margin: 0;
  padding: 6px 16px;
}

.dropdown.active .dropdown-menu {
  max-width: 300px; 
  left: 0;
  opacity: 1;
}
 
.fa {
  padding: 13px 13px 13px 25px;
  
}

.login-content:before {
    height: 53%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $bcg-clr;
    content: "";
    z-index: 0;
}
#font{
        font-size: 13px;
    }

#toolbar1 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  background:white;
   @extend #toolbarstyle;

}

 
md-content {
    height: 75%;
}
.md-sidenav-left, md-sidenav {
    left: 0;
    top:60px ;
     height: 87%;
   width:268px;
    transform: translate3d(0,0,0);
}
.md-sidenav-right, md-sidenav
{overflow-x:auto;
    width:268px;
    top:60px; 
  left:100%;
     height:87%;
  transform: translate3d(-100%,0px,0px);
}
    md-sidenav
    {    transition-duration: 300ms !important;
      position:fixed !important;
    }

