<link rel="stylesheet" href="./src/userAdmin/view/userAdmin.css">
<div tabIndex="-1" role="main"
	ng-controller="userAdminCtrl as ul" class="md-whiteframe-z2"
	ng-init="ul.load()">

	 <div class="login-content ng-scope"  >
    <div id="area">
 
  	 <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" id="font">
   
      <md-toolbar layout="row" id="userinfo">
       
          <div id="userprofile" style="background-image:url(/assets/images/profile-menu.png);">
          <div class="profilepic" layout="column" id="prof">
          
          <img src="assets/images/user1.jpg" class="mCS_img_loaded" alt="user avatar">
         
      </div>
        
        <div id="profileinfo" layout="row">
         
    <label style="padding:4px 0px 0px 10px;">Malinda Hollaway</label>
    <div flex></div>
     <md-icon md-svg-icon="arrow_down" ng-show="drop" ng-click="drop=false"> </md-icon>
     <md-icon md-svg-icon="arrow_up" ng-show="!drop"ng-click="drop=true"> </md-icon>
           </div>
            </div>
        
        </md-toolbar>
      <div ng-controller="LeftCtrl" layout="column">
       <b> 

 <div layout="column" ng-show="!drop">
<div layout="row">
<md-icon md-svg-icon="person_black" style="padding: 13px 13px 13px 25px;margin: 0px;height: 18px;width: 18px;"> 
                </md-icon>
                 <a href="" class="leftsidenav" style="padding: 13px 13px 13px 5px;">View Profie</a>
  </div>
  <div layout="row">
<md-icon md-svg-icon="privacy_black" style="padding: 13px 13px 13px 25px;margin: 0px;height: 18px;width: 18px;"> 
                </md-icon>
                 <a href="" class="leftsidenav" style="padding: 13px 13px 13px 5px;">Privacy Setting</a>
  </div>
  <div layout="row">
<md-icon md-svg-icon="settings_black" style="padding: 13px 13px 13px 25px;margin: 0px;height: 18px;width: 18px;"> 
                </md-icon>
                 <a href="" class="leftsidenav" style="padding: 13px 13px 13px 5px;"> Settings</a>
  </div>
  <div layout="row">
<md-icon md-svg-icon="logout_black" style="padding: 13px 13px 13px 25px;margin: 0px;height: 18px;width: 18px;"> 
                </md-icon>
                 <a href="" class="leftsidenav" style="padding: 13px 13px 13px 5px;"> Logout</a>
  </div>
   <div layout="row" style="padding: 10px 0px 0px 10px;" >
        </div>
 </div>
 <div layout="row" style="padding: 15px 0px 0px 0px;" >
    
    </div>
          <div layout="row" layout-align="start end">
      <div class="fa fa-dashboard" style=" padding: 13px 13px 18px 25px;"> </div>
     <a class="leftsidenav" href="" style="padding: 13px 27px 13px 8px;"> Dashboard</a>
     <div flex=""></div>
     <md-icon style="margin:0px 10px 15px 0px;height: 18px;width: 18px;" md-svg-icon="add_black"> </md-icon>
  
    </div>
   
    <div layout="row">
      <div class="fa fa-anchor">  </div>
      <a class="leftsidenav" href=""  style="padding: 13px 13px 13px 9px;">Admin Panel</a>
       <div flex=""></div>
     <md-icon style="margin:13px 10px 0px 0px;height: 18px;width: 18px;" md-svg-icon="add_black"> </md-icon>
    </div>
<div layout="row">
     <div class="fa fa-graduation-cap"> </div>
      <a href="" class="leftsidenav"  style="padding: 13px 13px 13px 5px;"> Alumni</a>
       <div flex=""></div>
     <md-icon style="margin:13px 10px 0px 0px;height: 18px;width: 18px;" md-svg-icon="add_black"> </md-icon>
    </div>
<div layout="row">
     <div class="fa fa-edit">  </div>
      <a href="" class="leftsidenav" style="padding: 13px 13px 13px 9px;"> Attendance</a>
       <div flex=""></div>
     <md-icon style="margin:13px 10px 0px 0px;height: 18px;width: 18px;" md-svg-icon="add_black"> </md-icon>
    </div>
    <div layout="row">
    <div class="fa fa-fax">  </div>
      <a href="" class="leftsidenav"  style="padding: 13px 13px 13px 9px;"> Communication</a>
       <div flex=""></div>
       <md-icon style="margin:13px 10px 0px 0px;height: 18px;width: 18px;" md-svg-icon="add_black"> </md-icon>
    </div>
    <div layout="row">
     <div class="fa fa-certificate"> </div>
      <a href="" class="leftsidenav" style="padding: 13px 13px 13px 9px;"> Customer Service</a>
       <div flex=""></div>
       <md-icon style="margin:13px 10px 0px 0px;height: 18px;width: 18px;" md-svg-icon="add_black"> </md-icon>
    </div>
    <div layout="row">
    <div class="fa fa-book"> </div>
     <a href="" class="leftsidenav" style="padding: 13px 13px 13px 9px;"> Library</a>
      <div flex=""></div>
      <md-icon style="margin:13px 10px 0px 0px;height: 18px;width: 18px;" md-svg-icon="add_black"> </md-icon>
    </div>
    <div layout="row">
      <div class="fa fa-bus">  </div>
      <a href="" class="leftsidenav" style="padding: 13px 13px 13px 9px;"> Transport</a>
       <div flex=""></div>
       <md-icon style="margin:13px 10px 0px 0px;height: 18px;width: 18px;" md-svg-icon="add_black"> </md-icon>
    </div>
    <div layout="row">
      <div class="fa fa-users"> </div>
      <a href="" class="leftsidenav" style="padding: 13px 13px 13px 9px;"> Users</a>
       <div flex=""></div>
       <md-icon style="margin:13px 10px 0px 0px;height: 18px;width: 18px;" md-svg-icon="add_black"> </md-icon>
    </div>
</b>
   </div>
    

    </md-sidenav>
  
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp " md-component-id="right">
     
      <div ng-controller="RightCtrl" >
        <div layout="row" style="padding:40px 0px 0px 0px;">
       
<md-icon style="margin:10px;height: 25px;width:25px;" md-svg-icon="search_black"> 
                </md-icon>
<md-input-container style="margin:2px" >
 <input name="search" placeholder="Search"ng-model="search" required size="35" md-autofocus>
 </md-input-container>
    
              </div>
              <div class="profilepic" layout="row" style="padding:0px 0px 0px 20px">
<img src="assets/images/user1.jpg" class="mCS_img_loaded" alt="user avatar" style="width: 35px; height: 35px;">
<div class="chat-status-busy"></div>
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row" style="width:150px"><label>David Belle</label></div>
          <div layout="row" style="width: 150px;">
<div class="ng-binding" id="para">
   Busy</div>
    </div>
        </div> 
      </div>
      <div class="profilepic" layout="row" style="padding:25px 0px 0px 20px">
          
          <img src="assets/images/user2.jpg" class="mCS_img_loaded" alt="user avatar" style=" width: 35px;
    height: 35px;">
    <div class="chat-status-aval"></div>
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row" style="width:150px"><label>Glenn Jecobs</label></div>
          <div layout="row" style="width:150px">
<div class="ng-binding" id="para">
 Available
</div>
    </div>
        </div> 
      </div>
        <div class="profilepic" layout="row" style="padding:25px 0px 0px 20px">
          
          <img src="assets/images/user3.jpg" class="mCS_img_loaded" alt="user avatar" style="width: 35px;
    height: 35px;">
    <div style="padding:0px 0px 0px 25px;">
         <div layout="row" style="width:150px"><label>Bill Phillips</label></div>
          <div layout="row" style="width:150px">
<div class="ng-binding" id="para">
Last 1 hour ago
</div>
    </div>
        </div> 
      </div>
       <div class="profilepic" layout="row" style="padding:25px 0px 0px 20px">
          
          <img src="assets/images/user4.jpg" class="mCS_img_loaded" alt="user avatar" style="width: 35px;
    height: 35px;">
    <div class="chat-status-busy"></div>
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row" style="width:150px"><label>Fredric Mitchell Jr</label></div>
          <div layout="row" style="width:150px">
<div class="ng-binding" id="para">
Busy
</div>
    </div>
        </div> 
      </div>
       <div class="profilepic" layout="row" style="padding:20px 0px 0px 20px">
          
          <img src="assets/images/user.jpg" class="mCS_img_loaded" alt="user avatar" style=" width: 35px;
    height: 35px;">
    <div class="chat-status-aval"></div>
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row" style="width:150px"><label>Jonathan Morris</label></div>
          <div layout="row" style="width:150px">
<div class="ng-binding" id="para">
 Available</div>
    </div>
        </div> 
      </div>

        <div class="profilepic" layout="row" style="padding:25px 0px 0px 20px">
<img src="assets/images/user1.jpg" class="mCS_img_loaded" alt="user avatar" style="width: 35px; height: 35px;">
    <div style="padding:0px 0px 0px 25px;">
         <div layout="row" style="width:150px"><label>David Belle</label></div>
          <div layout="row" style="width: 150px;">
<div class="ng-binding" id="para">
   Last 3 minutes ago</div>
    </div>
        </div> 
      </div>
       <div class="profilepic" layout="row" style="padding:25px 0px 0px 20px">
          
          <img src="assets/images/user2.jpg" class="mCS_img_loaded" alt="user avatar" style=" width: 35px;
    height: 35px;">
    <div class="chat-status-aval"></div>
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row" style="width:150px"><label>Glenn Jecobs</label></div>
          <div layout="row" style="width:150px">
<div class="ng-binding" id="para">
  Available
</div>
    </div>
        </div> 
      </div>
      </div>
    </md-sidenav>
    <md-toolbar id="toolbarnew" layout="row" ng-show="isToolbar">
<div class="md-toolbar-tools" >
 
                <a href  id="hover"  aria-label="Custom" id="menuicon"  ng-click="toggleLeft()">
      <span>
                <md-icon id="toolbarIcon"md-svg-icon="menu_white"> </md-icon>
                </span>
                </a>
              </span>
          </md-button>
<div class="md-media-sm card-media">
  <img src="assets/images/em1.png" class="md-card-image"
            alt="user avatar" ng-click="gotoHome()" > 
          </div>
         
<div flex></div>
             <div class="row">
              <a href id="hover">
          <span>
                <md-icon id="toolbarIcon" md-svg-icon="search_white" ng-click="isToolbar=false"> 
                </md-icon>
              </span>
              </a>
         </div>
<div class="menu-demo-container">
    <md-menu md-offset="0 35" md-position-mode="target-right target" >
          <a href  id="hover" aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
       <span>
                <md-icon id="toolbarIcon" md-svg-icon="email_white"> 
                </md-icon>
                <div class="tmn-counts">6</div>
              </span>
          </a>
          <md-menu-content id="menu" >
           <div class="dropdown-menu md-whiteframe-z1" >
            <div layout="row" layout-align="center center" style="padding:25px 0px 0px 0px">
     <label style="color: #4C4C4C; border-bottom: 1px solid #F0F0F0;font-weight: 500;">MESSAGES</label>
       </div>
       <div class="profilepic" layout="row" id="prof"style="padding:25px 0px 0px 20px">
          
          <img src="assets/images/user1.jpg" class="mCS_img_loaded" alt="user avatar" style=" width: 35px;
    height: 35px;">
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row"><label>David Belle</label></div>
          <div layout="row" style="width: 208px;">
<div class="ng-binding" id="para">
  Cum sociis natoque penatibus et magnis dis parturient montes</div>
    </div>
        </div> 
      </div>
      <div class="profilepic" layout="row" id="prof"style="padding:25px 0px 0px 20px">
          
          <img src="assets/images/user2.jpg" class="mCS_img_loaded" alt="user avatar" style=" width: 35px;
    height: 35px;">
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row"><label>Glenn Jecobs</label></div>
          <div layout="row" style="width: 208px;">
<div class="ng-binding" id="para">
  Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque
</div>
    </div>
        </div> 
      </div>
        <div class="profilepic" layout="row" id="prof"style="padding:25px 0px 0px 20px">
          
          <img src="assets/images/user3.jpg" class="mCS_img_loaded" alt="user avatar" style=" width: 35px;
    height: 35px;">
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row"><label>Bill Phillips</label></div>
          <div layout="row" style="width: 208px;">
<div class="ng-binding" id="para">
 Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat
</div>
    </div>
        </div> 
      </div>
       <div class="profilepic" layout="row" id="prof"style="padding:25px 0px 0px 20px">
          
          <img src="assets/images/user4.jpg" class="mCS_img_loaded" alt="user avatar" style=" width: 35px;
    height: 35px;">
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row"><label>Fredric Mitchell Jr</label></div>
          <div layout="row" style="width: 208px;">
<div class="ng-binding" id="para">
Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies
</div>
    </div>
        </div> 
      </div>
       <div class="profilepic" layout="row" id="prof"style="padding:20px 0px 0px 20px">
          
          <img src="assets/images/user.jpg" class="mCS_img_loaded" alt="user avatar" style=" width: 35px;
    height: 35px;">
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row"><label>Jonathan Morris</label></div>
          <div layout="row" style="width: 208px;">
<div class="ng-binding" id="para">
  Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</div>
    </div>
        </div> 
      </div>
       
       <div layout="row" layout-align="center center"style="padding:40px 0px 10px 10px;font-size: 11px;">
       <a href> View All</a>
        </div>
     </div>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="menu-demo-container">
    <md-menu md-offset="0 35" md-position-mode="target-right target" >
          <a href  id="hover" aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
      <span>
                <md-icon id="toolbarIcon" md-svg-icon="notifi_white"> 
                </md-icon>
                 <div class="tmn-counts">9</div>
              </span>
          </a>
          <md-menu-content width="4" id="menu" >
           <div class="dropdown-menu md-whiteframe-z1" >
      <div layout="row" layout-align="center center" style="padding:25px 0px 0px 0px">
     <label style="color: #4C4C4C; border-bottom: 1px solid #F0F0F0;font-weight: 500;">NOTIFICATION</label>
       </div>
       <div class="profilepic" layout="row" id="prof"style="padding:25px 0px 0px 20px">
          
          <img src="assets/images/user1.jpg" class="mCS_img_loaded" alt="user avatar" style=" width: 35px;
    height: 35px;">
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row"><label>David Belle</label></div>
          <div layout="row" style="width: 208px;">
<div class="ng-binding" id="para">
  Cum sociis natoque penatibus et magnis dis parturient montes</div>
    </div>
        </div> 
      </div>
      <div class="profilepic" layout="row" id="prof"style="padding:25px 0px 0px 20px">
          
          <img src="assets/images/user2.jpg" class="mCS_img_loaded" alt="user avatar" style=" width: 35px;
    height: 35px;">
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row"><label>Glenn Jecobs</label></div>
          <div layout="row" style="width: 208px;">
<div class="ng-binding" id="para">
  Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque
</div>
    </div>
        </div> 
      </div>
        <div class="profilepic" layout="row" id="prof"style="padding:25px 0px 0px 20px">
          
          <img src="assets/images/user3.jpg" class="mCS_img_loaded" alt="user avatar" style=" width: 35px;
    height: 35px;">
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row"><label>Bill Phillips</label></div>
          <div layout="row" style="width: 208px;">
<div class="ng-binding" id="para">
 Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat
</div>
    </div>
        </div> 
      </div>
       <div class="profilepic" layout="row" id="prof"style="padding:25px 0px 0px 20px">
          
          <img src="assets/images/user4.jpg" class="mCS_img_loaded" alt="user avatar" style=" width: 35px;
    height: 35px;">
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row"><label>Fredric Mitchell Jr</label></div>
          <div layout="row" style="width: 208px;">
<div class="ng-binding" id="para">
Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies
</div>
    </div>
        </div> 
      </div>
       <div class="profilepic" layout="row" id="prof"style="padding:20px 0px 0px 20px">
          
          <img src="assets/images/user.jpg" class="mCS_img_loaded" alt="user avatar" style=" width: 35px;
    height: 35px;">
    <div style="padding:0px 0px 0px 15px;">
         <div layout="row"><label>Jonathan Morris</label></div>
          <div layout="row" style="width: 208px;">
<div class="ng-binding" id="para">
  Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</div>
    </div>
        </div> 
      </div>
       
       <div layout="row" layout-align="center center"style="padding:40px 0px 10px 10px;font-size: 11px;">
       <a href> View Previous</a>
        </div>
     </div>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="menu-demo-container">
    <md-menu md-offset="0 35" md-position-mode="target-right target" >
          <a href  id="hover" aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
       <span>
                <md-icon id="toolbarIcon" md-svg-icon="line_white"> 
                </md-icon>
                 <div class="tmn-counts">2</div>
              </span>
          </a>
          <md-menu-content width="4" id="menu" >
        <div class="dropdown-menu md-whiteframe-z1">
       <div layout="row" layout-align="center center" style="padding:25px 0px 0px 0px">
     <label style="color: #4C4C4C; border-bottom: 1px solid #F0F0F0;font-weight: 500;">TASK</label>
       </div>
       <div style="font-size: 13px;">
       <div layout="column" id="prof"style="padding:25px 0px 0px 20px;">
        <label style="padding:0px 0px 7px 0px;">HTML5 Validation Report</label>
        
      <div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 250px">
<span class="sr-only">95% Complete (success)</span></div></div>
        </div>
        <div layout="column" id="prof"style="padding:25px 0px 0px 20px">
        <label style="padding:0px 0px 7px 0px;">Google Chrome Extension</label>
        
        <div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 200px;    background-color: #4caf50;">
<span class="sr-only">95% Complete (success)</span></div></div>
        </div>
        <div layout="column" id="prof"style="padding:25px 0px 0px 20px">
        <label style="padding:0px 0px 7px 0px;">Social Intranet Projects</label>
       
         <div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 50px;    background-color: #00bcd4;">
<span class="sr-only">95% Complete (success)</span></div></div>
        </div>
        <div layout="column" id="prof"style="padding:25px 0px 0px 20px">
        <label style="padding:0px 0px 7px 0px;">Bootstrap Admin Template</label>
       
        <div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 150px;    background-color: #ff9800;">
<span class="sr-only">95% Complete (success)</span></div></div>
        </div>
        <div layout="column" id="prof"style="padding:25px 0px 0px 20px">
        <label style="padding:0px 0px 7px 0px;">Youtube Client App</label>
        
          <div class="progress">
<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 200px;    background-color:red;">
<span class="sr-only">95% Complete (success)</span></div></div>
        </div>
        <div layout="row" layout-align="center center"style="padding:70px 0px 10px 10px;font-size: 11px;">
       <a href> View All</a>
        </div>
      </div>
        </div>
    
          </md-menu-content>
        </md-menu>
      </div>

      <div class="menu-demo-container">
    <md-menu md-offset="0 35" md-position-mode="target-right target" >
          <a href  id="hover"  aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
      <span>
                <md-icon id="toolbarIcon" md-svg-icon="dots_white"> 
                </md-icon>
              </span>
          </a>
          <md-menu-content id="menu1" style="width:190px;" >
          <div class="dropdown-menu md-whiteframe-z1">
             <div style="font-size: 13px;">
             <div layout="row" layout-align="center center" style="padding:20px 0px 20px 0px">
    <span class="ss-skin bgm-lightblue" ></span>
    <span class="ss-skin bgm-bluegray" ></span>
    <span class="ss-skin bgm-cyan" ></span>
    <span class="ss-skin bgm-teal" ></span>
    <span class="ss-skin bgm-green" ></span>
    <span class="ss-skin bgm-orange" ></span>
       </div>
      <div layout="row">
<md-icon md-svg-icon="toggle_black" style="padding: 13px 13px 0px 25px;margin: 0px;height: 18px;width: 18px;"> 
                </md-icon>
                <label style="padding: 13px 13px 0px 5px;"> Toggle Fullscreen</label>
  </div>
  <div layout="row">
<md-icon md-svg-icon="delete_black" style="padding: 8px 13px 0px 25px;margin: 0px;height: 18px;width: 18px;"> 
                </md-icon>
                <label style="padding: 8px 13px 0px 5px;"> Clear Local Storage</label>
  </div>
  <div layout="row">
<md-icon md-svg-icon="face_black" style="padding: 8px 13px 0px 25px;margin: 0px;height: 18px;width: 18px;"> 
                </md-icon>
                <label style="padding: 8px 13px 0px 5px;"> Privacy Settings</label>
  </div>
  <div layout="row">
<md-icon md-svg-icon="settings_black" style="padding: 8px 13px 13px 25px;margin: 0px;height: 18px;width: 18px;"> 
                </md-icon>
                <label style="padding: 8px 13px 13px 5px;"> Other Settings</label>
  </div>

         </div>
         </div>     
      </md-menu-content>
        </md-menu>
      </div>
    
         


  <a href id="hover"  id="icon" aria-label="Custom1" ng-click="toggleRight()">
          <span>
                <md-icon id="toolbarIcon" md-svg-icon="comment_white"> 
                </md-icon>
              </span>
          </a>
     </div>
  </md-toolbar>
 
  <md-toolbar id="toolbar1"  layout="row" ng-show="!isToolbar">
<div class="md-toolbar-tools">
<div layout="row" id="newtoolbarrow"style="padding:0px 0px 0px 150px;">
  <a href="" id="hover1" aria-label="Cust" >
    <span>
      <md-icon md-svg-icon="backarrow_black" ng-click="isToolbar=true" style="height:28px;width:28px;"> </md-icon></span>
      </a>
       
       <md-input-container style="height: 50px;width:650px;" >

      <input id="find" name="find"style="height: 50px;width:650px;" type="text" ng-model="find" md-autofocus>
    
    </md-input-container>
    
  
    
 </div>
 </div> 
 </md-toolbar> 
 


</div>
  </div>
 
 </div> 
 

