<link rel="stylesheet" href="./src/userAdmin/view/userAdmin.css">
<div tabIndex="-1" role="main"
	ng-controller="userAdminCtrl as ul" class="md-whiteframe-z2"
	ng-init="ul.load()">

	 <div class="login-content ng-scope" >
    
  	 <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" id="font">
      <md-toolbar layout="row" id="userinfo">
       
          <div id="userprofile" style="background-image:url(/assets/images/profile-menu.png);">
          <div class="profilepic" layout="row">
          <img src="assets/images/user.jpg" class="mCS_img_loaded" alt="user avatar">
         
      </div>
        
        <div id="profileinfo" layout="row">
         
    <select name="singleSelect" ng-model="data.singleSelect" style=" width:100%;
   height: 100%;">
      <option value="">Jonathan Morris</option>
      <option value="option-1">View Profile</option>
      <option value="option-2">Privacy Settings</option>
<option value="option-3">Setting</option>
<option value="option-4">Logout</option>
    </select>
           </div>
            </div>
        
        </md-toolbar>
      <md-content layout-padding ng-controller="LeftCtrl" layout="column">
      <div class="fa fa-dashboard"> Dashboard</div>
      <div class="fa fa-anchor">  Admin Panel</div>
      <div class="fa fa-graduation-cap"> Alumni</div>
      <div class="fa fa-edit">  Attendance</div>
      <div class="fa fa-fax">  Communication</div>
      <div class="fa fa-certificate"> Customer Service</div>
      <div class="fa fa-book"> Library</div>
      <div class="fa fa-bus">  Transport</div>
      <div class="fa fa-users"> Users</div>
        
      </md-content>
    </md-sidenav>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" id="font">
<md-toolbar layout="row">
      <md-input-container>
      <md-icon md-svg-icon="search_white"> </md-icon>
      <input type="text" aria-label="Custom3">
    </md-input-container>
 
             
          <div  ng-controller="RightCtrl">
            <br>
              <md-icon md-svg-icon="close_black" ng-click="close()"  hide-gt-md> </md-icon>
       
       
      </div>
      </md-toolbar>
  <md-content layout-padding ng-controller="RightCtrl" layout="column">
       
       <div id="userlist" ng-repeat="user in user">
                        {{ user.name }} 
  </div>

      </md-content>  
    
    </md-sidenav>
    <md-toolbar id="toolbarnew" layout="row" ng-show="isToolbar">
<div class="md-toolbar-tools" >
 
                <md-button aria-label="Custom" id="menuicon" class="md-icon-button" ng-click="toggleLeft()">
      <span>
                <md-icon md-svg-icon="menu_white"> 
                </md-icon>
              </span>
          </md-button>
<div class="md-media-sm card-media">
  <img src="assets/images/em1.png" class="md-card-image"
            alt="user avatar" ng-click="gotoHome()" > 
          </div>
         
<div flex></div>
             <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
           <span>
                <md-icon md-svg-icon="search_white" ng-click="isToolbar=false"> 
                </md-icon>
              </span>
          </div>
        </div>
      </div>
<div class="menu-demo-container">
    <md-menu md-offset="50 60" md-position-mode="target-right target" >
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
       <span>
                <md-icon md-svg-icon="email_white"> 
                </md-icon>
              </span>
          </md-button>
          <md-menu-content width="4" id="menu" >
           <div class="dropdown-menu md-whiteframe-z1" >
       <div id="userlist" ng-repeat="user in user">
                        {{ user.name }} 
      </div>
     </div>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="menu-demo-container">
    <md-menu md-offset="50 60" md-position-mode="target-right target" >
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
      <span>
                <md-icon md-svg-icon="notifi_white"> 
                </md-icon>
              </span>
          </md-button>
          <md-menu-content width="4" id="menu" >
           <div class="dropdown-menu md-whiteframe-z1" >
       <div id="userlist" ng-repeat="user in user">
                        {{ user.name }} 
      </div>
     </div>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="menu-demo-container">
    <md-menu md-offset="50 60" md-position-mode="target-right target" >
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
       <span>
                <md-icon md-svg-icon="line_white"> 
                </md-icon>
              </span>
          </md-button>
          <md-menu-content width="4" id="menu" >
        <div class="dropdown-menu md-whiteframe-z1">
      Task
     
    </div>
          </md-menu-content>
        </md-menu>
      </div>

      <div class="menu-demo-container">
    <md-menu md-offset="50 60" md-position-mode="target-right target" >
          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
      <span>
                <md-icon md-svg-icon="dots_white"> 
                </md-icon>
              </span>
          </md-button>
          <md-menu-content width="4" id="menu"  >
          <div class="dropdown-menu md-whiteframe-z1">
         <label> Toggle Full Screen</label><br>
        <label>Clear Local Storage</label><br>
        <label>Privacy Setting</label><br>
        <label>Other Setting</label><br>
         </div>     
      </md-menu-content>
        </md-menu>
      </div>
    
         


  <md-button id="icon" aria-label="Custom1" ng-click="toggleRight()">
          <span>
                <md-icon md-svg-icon="comment_white"> 
                </md-icon>
              </span>
          </md-button>
     </div>
  </md-toolbar>
 
  <md-toolbar id="toolbar1"  layout="row" ng-show="!isToolbar">

<div class="md-toolbar-tools" layout-align="center center">

  <md-input-container>
      <md-icon md-svg-icon="backarrow_black" ng-click="isToolbar=true"> </md-icon>
      <input type="text" aria-label="Custom2">
    </md-input-container>
 
 </div> 
 </md-toolbar> 
 



  </div>
 </div> 
 

