<div flex layout="column" tabIndex="-1" role="main"
	ng-controller="HomeSummaryCtrl as ul" class="md-whiteframe-z2"
	ng-init="ul.load()">
	<!--  
	<md-content class="md-padding" layout-xs="column" layout="row">
	<div flex-xs flex-gt-xs="75" layout="column">
		<md-card>
        	<md-card-content>
        		<md-autocomplete md-search-text="ul.searchText"
			         		md-selected-item-change="ul.selectedItemChange(item.name)"
							md-items="item in ul.querySearch(hm.searchText)"
							md-item-text="item.name" md-min-length="0"
							placeholder="Enter School Name" flex-gt-sm=""> 
							<md-item-template>
								<span md-highlight-text="ul.searchText" 
									  md-highlight-flags="^i">{{item.name}}</span>
							</md-item-template> 
							<md-not-found flex="50"> Not found! Type full name
								<a href ng-click="ul.newSchool(ul.searchText)">click here</a> 
								to submit request . 
							</md-not-found> 
						</md-autocomplete>
        </md-card-content>
      </md-card>
	</div>
	<div flex-xs flex-gt-xs="25" layout="column">
		<div ng-controller="registerSchoolCtrl">
			<md-card class="bgm-lime">
        		<md-card-title>
          			<md-card-title-text>
          		 		<span style="text-align: center; color: white;" class="cursor-pointer" ng-click="showAddSchoolDialog($event)">
                                     Modify Search
                        </span>
        	  		</md-card-title-text>
        		</md-card-title>        	
      		</md-card>
		</div>
  	</div>	
	</md-content>
	 -->
	<md-content class="md-padding" layout-xs="column" layout="row" style="font-family: roboto;  font-size: 13px;
  line-height: 1.42857143;
  color: #5e5e5e;
  background-color: #edecec;
  height: 100%">
	<div flex-xs flex-gt-xs="25" layout="column">
		<div>
			<md-card class="bgm-teal cursor-pointer" ng-click="openModifySearchDialog($event)">
        		<md-card-title>
          			<md-card-title-text>
          		 		<span style="text-align: center; color: white;">
                                     Modify Search
                        </span>
        	  		</md-card-title-text>
        		</md-card-title>        	
      		</md-card>
		</div>
		<div ng-controller="registerSchoolCtrl">
			<md-card class="bgm-lightblue cursor-pointer" ng-click="showAddSchoolDialog($event)">
        		<md-card-title>
          			<md-card-title-text>
          		 		<span style="text-align: center; color: white;" >
                                      Register Your School
                        </span>
        	  		</md-card-title-text>
        		</md-card-title>        	
      		</md-card>
		</div>
      	<md-card>
			<md-card-content>
        		<md-input-container class="md-block" flex-gt-sm="">
					<label>City</label>
				 	<md-select name="city" 
				 		ng-model="ul.search.city" ng-change="onSearchCriteriaChange()"
						placeholder="Select a city">
							<md-option 
								ng-repeat="city in landingData.cities" 
								ng-value="city">
								{{city}} 
							</md-option> 
						</md-select> 
				</md-input-container>
			</md-card-content>
      	</md-card>
      	<md-card>
      		<md-card-content>
			<md-input-container class="md-block" flex-gt-sm="">
						<label>Board</label>
  						<md-select name="board"
					 		ng-model="ul.search.board" 
							placeholder="Select Board">
							<md-option 
								ng-repeat="data in landingData.boards" 
								ng-value="data">
								{{data}} 
							</md-option> 
						</md-select> 
					</md-input-container>
					</md-card-content>
      	</md-card>
      	<md-card>
      		<md-card-content>
			<md-input-container class="md-block" flex-gt-sm="">
						<label>Category</label>
  						<md-select name="feeRange"  ng-change="onSearchCriteriaChange()"
					 		ng-model="ul.search.category" 
							placeholder="Select Category">
							<md-option 
								ng-repeat="(key, value) in landingData.categories" 
								ng-value="key">
								{{value}} 
							</md-option> 
						</md-select> 
					</md-input-container>
			</md-card-content>
      	</md-card>
      	<!-- <md-card>
			<md-card-content>
        		<md-input-container class="md-block" flex-gt-sm>
            			<label>Postal Code</label>
            			<input name="postalCode" ng-model="ul.search.zip" placeholder="123456"
                   			required ng-pattern="/^[0-9]{6}$/" md-maxlength="6">
            				<div ng-messages="userForm.postalCode.$error" role="alert" multiple>
              				<div ng-message="required" class="my-message">You must supply a postal code.</div>
              				<div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                				code.
              				</div>
              				<div ng-message="md-maxlength" class="my-message">
                				Don't use the long version silly...we don't need to be that specific...
              				</div>
           					</div>
          			</md-input-container>
			</md-card-content>
      	</md-card> -->
      	<div>
    		<fieldset class="standard">
      			<legend>Fee Range</legend>
      			<div layout="column" layout-wrap layout-gt-sm="row" ng-repeat="item in feeRange" >
        			<div flex-xs flex="80">
          				<md-checkbox 
         	 				ng-checked="exists(item.value, selected)" 
         	 				ng-click="toggle(item.value, selected)" 
           	 				aria-label="Checkbox 1">
           					{{ item.key }}
          				</md-checkbox>
        			</div>
      			</div>
    		</fieldset>
  		</div>
  		<div>
			<md-card class="bgm-pink cursor-pointer" ng-click="ul.clearSearchData()">
        		<md-card-title>
          			<md-card-title-text>
          		 		<span style="text-align: center; color: white;">
                                     Reset Search
                        </span>
        	  		</md-card-title-text>
        		</md-card-title>        	
      		</md-card>
		</div>
  	</div>
	<div flex-xs flex-gt-xs="75" layout="column">
	<!-- <md-card> -->
	   <!-- 	<md-card-content> -->
	   	<md-input-container class="md-block" flex-gt-sm="">
						<label>School Name</label>
	   		<md-autocomplete md-search-text="ul.searchText"
	   			md-selected-item-change="ul.selectedItemChange(item.name)"
				md-items="item in ul.querySearch(ul.searchText)"
				md-item-text="item.name" md-min-length="0"
				placeholder="Enter School Name" flex-gt-sm="">
					<md-item-template>
						<span md-highlight-text="ul.searchText" md-highlight-flags="^i">{{item.name}}</span>
					</md-item-template> 
					<md-not-found flex="50"> Not found! Type full name
						<a href ng-click="ul.newSchool(ul.searchText)">click here</a> 
								to submit request. 
					</md-not-found> 
			</md-autocomplete>
				</md-input-container>
        <!-- </md-card-content> -->
      <!-- </md-card> -->
      <md-card ng-repeat="data in ul.schoolSummary" ng-click="selectSchoolIndex($index)" >
        	<md-card-title>
          		<md-card-title-text>
          		  <span style="text-align: center;"  class="md-title">
                                     {{data.orgName}}
                                    </span>
                  <span style="text-align: center;">{{data.orgHeadUserName}}</span>
          		 	<!-- <span class="md-headline">{{data.orgName}}</span>
            		 -->
          		</md-card-title-text>
          		<md-card-title-media>
            		<!-- <div class="md-media-sm card-media">
            		<img
						src="assets/images/yeoman.png" class="md-card-image"
						alt="user avatar"> 
					</div> -->
					<img src="assets/images/yeoman.png" alt="user avatar" height="25" width="25"> 
          		</md-card-title-media>
        	</md-card-title>
        <md-card-content>
        <md-card-actions layout="row" layout-align="end center">
        	<a ng-click="gotoSchoolDetails(data)" class="cursor-pointer" style="text-align: center; font-weight: bold;" >
        		DETAILS
        	</a>
         	<span flex></span>
         	<a ng-click="gotoCaptureApplication(data)" class="cursor-pointer" style="text-align: center; font-weight: bold;">
        		APPLY
        	</a>
		</md-card-actions> 
        </md-card-content>
          <md-divider layout-fill ng-show="$index == selectedSchoolIndex"></md-divider>
          <div layout="column" layout-fill class="expanded" ng-show="$index == selectedSchoolIndex">
            <span>some content</span>
            <br/>
            <span>some content</span>
            <br/>
          </div>
        </md-item-content>
        <md-divider class="divider-inset" ng-if="!$last"></md-divider>
      </md-card>
	</div>
	</md-content>
	<md-content flex id="content"> </md-content>

</div>

