<md-dialog aria-label="Modify School Search" flex="80">
<div flex-xs flex-gt-xs="100" layout="column">
<!--   <md-toolbar> -->
            <div class="md-toolbar-tools">
                <h2 style="font-weight: bold;">Search School</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="cancel(); $event.stopPropagation();">
                    <md-icon md-svg-icon="close_black" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
<!--         </md-toolbar> -->
	<md-card> 
	
            
    <!-- 	<md-card-title> 
			<md-card-title-text>
				<div class="md-toolbar-tools">
				<span class="md-headline">Search School</span> 
                <h2 style="color: black; font-weight: bold;">Login</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="hide(); $event.stopPropagation();">
                    <md-icon md-svg-icon="close_black" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
			</md-card-title-text> 
		</md-card-title>  -->
		<md-card-content>
		<md-input-container class="md-block" flex-gt-sm="">
			<label>School Name</label>
			<md-autocomplete md-search-text="hm.searchText"
				md-selected-item-change="hm.selectedItemChange(item.name)"
				md-items="item in hm.querySearch(hm.searchText)"
				md-item-text="item.name" md-min-length="0"
				placeholder="Enter School Name" flex-gt-sm=""> 
				<md-item-template>
					<span md-highlight-text="hm.searchText" md-highlight-flags="^i">{{item.name}}</span>
				</md-item-template> 
				<md-not-found flex="50"> Not found! Type full name
					<a href ng-click="hm.newSchool(hm.searchText)">click here</a> 
						to submit request . 
				</md-not-found> 
			</md-autocomplete>
		</md-input-container>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm="">
				<label>City</label>
					<md-select name="city"
						ng-model="hm.search.city" 
						placeholder="Select a city">
							<md-option 
								ng-repeat="city in landingData.cities" 
								ng-value="city">
								{{city}} 
							</md-option>
					</md-select> 
			</md-input-container>
			<md-input-container class="md-block" flex-gt-sm="">
				<label>Fee Range</label>
  					<md-select name="feeRange"
						ng-model="hm.search.feeRange" 
						placeholder="Select fee range">
							<md-option 
								ng-repeat="data in feeRange" 
								ng-value="data.value">
								{{data.key}} 
							</md-option> 
						</md-select> 
					</md-input-container>
          			<md-input-container class="md-block" flex-gt-sm="">
						<label>Category</label>
  						<md-select name="feeRange"
					 		ng-model="hm.search.category" 
							placeholder="Select Category">
							<md-option 
								ng-repeat="(key, value) in landingData.categories" 
								ng-value="key">
								{{value}} 
							</md-option> 
						</md-select> 
					</md-input-container>
        		</div>
        		<div layout-gt-sm="row">
          			<md-input-container class="md-block" flex-gt-sm>
            			<label>Postal Code</label>
            			<input name="postalCode" ng-model="hm.search.zip" placeholder="123456"
                   			required ng-pattern="/^[0-9]{6}$/" md-maxlength="6">
            				<div ng-messages="userForm.postalCode.$error" role="alert" multiple>
              				<div ng-message="required" class="my-message">You must supply a postal code.</div>
              				<div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                				code.
              				</div>
              				<!-- <div ng-message="md-maxlength" class="my-message">
                				Don't use the long version silly...we don't need to be that specific...
              				</div> -->
           					</div>
          			</md-input-container>
        		</div>
        	</md-card-content> 
        	<md-card-actions layout="row" layout-align="end center">
        	        	<md-button class="md-raised md-warn" ng-click="hide()">cancel</md-button>
        	           	<md-button class="md-raised" ng-click="hide()">Reset</md-button> 
						<md-button class="md-raised md-primary"
							ng-disabled="homeForm.$invalid" ng-click="hide()">Search</md-button>
			</md-card-actions> 
		</md-card>
	</div>
</md-dialog>	