@import 'color';
$mobile: "(max-width:500px)";

@mixin mobile{
@media only screen and #{$mobile}{
 @content;
}
}
#center
{
    @include mobile{
   box-shadow: none;
    width: 59% !important;
    height: 250px !important;
}
}

.login-content:before {
    @include mobile{
    height: 20%;   
}
}

#center
{
    box-shadow: none;
    width: 99%;
    height: 410px;
}
#customer
{
box-shadow: none;
width: 99%;
    height: 100px;
}

#content {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
