@import 'background';
@import 'color';
@media only screen and (max-width:500px)
{
#center
{
    box-shadow: none;
    width: 59% !important;
    height: 250px !important;
}
}
@media only screen and (max-width:500px)
{
.login-content:before {
    height: 20%;
   
}
}
#center
{
    box-shadow: none;
    width: 99%;
    height: 410px;
}
#customer
{
box-shadow: none;
width: 99%;
    height: 100px;
}

#content {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
