<link rel="stylesheet" href="./src/emHome/view/emHome.css">
<div ng-controller="emHomeCtrl as ca"  ng-cloak=""
	class="md-inline-form" ng-init="ca.load()" >
	<app-header></app-header>
<div class="login-content ng-scope" >
<div layout="column">
  	<md-card id="center" >
  	<md-card-title>
  	
  	 </md-card-title> 
  		
		</md-card>
	
</div>
<div layout="column">
  		<md-card id="customer">
  			<md-card-title> 
				 <md-card-title-text>
					<div layout="row"><b>Our valued Customers</b><br></div> 
				</md-card-title-text> 
			</md-card-title> 
			<md-card-content>
			<div layout="row">-----------------------------------</div>
				<div layout="row">
					<div class="md-media-sm card-media">
            		<img
						src="assets/images/1.gif" class="md-card-image"
						alt="user avatar"> 
					</div>
					<div class="md-media-sm card-media">
            		<img
						src="assets/images/2.jpg" class="md-card-image"
						alt="user avatar"> 
					</div>
					<div class="md-media-sm card-media">
            		<img
						src="assets/images/3.png" class="md-card-image"
						alt="user avatar"> 
					</div>
					<md-button ng-click="gotoLoginHome()">Login
         <md-tooltip>Click to login</md-tooltip>
        </md-button>
				</div>
			</md-card-content> 
		</md-card>
	</div>



</div> 
   

</div>