
<div flex layout="column" tabIndex="-1" role="main"
	ng-controller="emHomeCtrl as ca" class="md-whiteframe-z2"
	ng-init="ca.load()">

 



<div layout="row">
Our valued Customers</div>
<div layout="row">

<div class="md-media-sm card-media">
<img src="assets/images/1.gif" class="md-card-image"alt="user avatar"> 
</div>
<div class="md-media-sm card-media">
<img src="assets/images/3.png" class="md-card-image"alt="user avatar"> 
</div>
<div class="md-media-sm card-media">
<img src="assets/images/2.jpg" class="md-card-image"alt="user avatar"> 
</div>

</div>



<div layout="row" layout-align="center center">
     <footer id="footer" class="ng-scope"><span class="ng-scope">Copyright &copy 2016 Material Admin</span></footer>
</div>
	
</div>	