<div ng-controller="HomeController as hm" layout="column" ng-cloak=""
	class="md-inline-form" ng-init="hm.load()" >
	<md-content class="md-padding" layout-xs="column" layout="row" style="font-family: roboto;
  font-size: 13px;
  line-height: 1.42857143;
  color: #5e5e5e;
  background-color: #edecec;
  height: 100%">
		<div flex-xs flex-gt-xs="75" layout="column">
			<md-card> 
				<md-card-title> 
					<md-card-title-text>
						<span class="md-headline">Search School</span> 
<!-- 						<span class="md-subhead">Search School</span> -->
					 </md-card-title-text> 
					 <!-- <md-card-title-media>
						<div class="md-media-lg card-media"></div>
					</md-card-title-media>  -->
				</md-card-title> 
				<md-card-content>
					<md-input-container class="md-block" flex-gt-sm="">
						<label>School Name</label>
			        	<md-autocomplete md-search-text="hm.searchText"
			         		md-selected-item-change="hm.selectedItemChange(item.name)"
							md-items="item in hm.querySearch(hm.searchText)"
							md-item-text="item.name" md-min-length="0"
							placeholder="Enter School Name" flex-gt-sm=""> 
							<md-item-template>
								<span md-highlight-text="hm.searchText" md-highlight-flags="^i">{{item.name}}</span>
							</md-item-template> 
							<md-not-found flex="50"> Not found! Type full name
								<a href ng-click="hm.newSchool(hm.searchText)">click here</a> 
								to submit request . 
							</md-not-found> 
						</md-autocomplete>
					</md-input-container>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm="">
						<label>City</label>
					 	<md-select name="city"
					 		ng-model="hm.search.city" 
							placeholder="Select a city">
							<md-option 
								ng-repeat="city in landingData.cities" 
								ng-value="city">
								{{city}} 
							</md-option> 
						</md-select> 
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm="">
						<label>Fee Range</label>
  						<md-select name="feeRange"
					 		ng-model="hm.search.feeRange" 
							placeholder="Select fee range">
							<md-option 
								ng-repeat="data in feeRange" 
								ng-value="data.value">
								{{data.key}} 
							</md-option> 
						</md-select> 
					</md-input-container>
          			<md-input-container class="md-block" flex-gt-sm="">
						<label>Category</label>
  						<md-select name="feeRange"
					 		ng-model="hm.search.category" 
							placeholder="Select Category">
							<md-option 
								ng-repeat="(key, value) in landingData.categories" 
								ng-value="key">
								{{value}} 
							</md-option> 
						</md-select> 
					</md-input-container>
        		</div>
        		<div layout-gt-sm="row">
          			<md-input-container class="md-block" flex-gt-sm>
            			<label>Postal Code</label>
            			<input name="postalCode" ng-model="hm.search.zip" placeholder="123456"
                   			required ng-pattern="/^[0-9]{6}$/" md-maxlength="6">
            				<div ng-messages="userForm.postalCode.$error" role="alert" multiple>
              				<div ng-message="required" class="my-message">You must supply a postal code.</div>
              				<div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                				code.
              				</div>
              				<!-- <div ng-message="md-maxlength" class="my-message">
                				Don't use the long version silly...we don't need to be that specific...
              				</div> -->
           					</div>
          			</md-input-container>
        		</div>
        	</md-card-content> 
        	<md-card-actions layout="row" layout-align="end center">
				<md-button class="md-raised md-primary" 
					ng-disabled="homeForm.$invalid" ng-click="hm.searchData()">Search</md-button>
				<md-button class="md-raised" ng-click="hm.clearSearchData()">Reset</md-button> 
			</md-card-actions> 
		</md-card>
	</div>
		<div flex-xs flex-gt-xs="25" layout="column">
	<div 
	ng-controller="registerSchoolCtrl">
		<md-card class="bgm-lightblue" ng-click="showAddSchoolDialog($event)">
        	<md-card-title>
          		<md-card-title-text>
          		 <span style="text-align: center; color: white;" class="cursor-pointer" >
                                      Register Your School
                                    </span>
        	  	</md-card-title-text>
        	</md-card-title>        	
      	</md-card>
	</div>
	<div
		ng-controller="registerSelfCtrl">
		<md-card class="bgm-lime" ng-click="showAddSelfDialog($event)">
        	<md-card-title>
          		<md-card-title-text>
            		 <span style="text-align: center; color: white;" class="cursor-pointer" >
            		 Register YourSelf
                                    </span>
        	  	</md-card-title-text>
        	</md-card-title>        	
      	</md-card>
	</div>
</div>

</md-content>
<!-- <footer>
        <div layout="row" layout-align="center center">
            <h3>My Awesome Footer</h3>
        </div>
    </footer> -->
   <!--  <md-bottom-sheet>
    <footer>
        <div layout="row" layout-align="center center">
            <h5>	&copy; 2016 Niograph Technology Consulting (India) LLP. All Rights Reserved.
  </h5>
        </div>
    </footer>
   </md-bottom-sheet> -->
<!--  
 <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
 		<md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Small</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Medium</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
           <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with  image</span>
            <span class="md-subhead">Extra Large</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media"></div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div>
  </md-content>
 -->
	<!-- 
	<md-content flex-gt-sm="50" flex="95">
	<div layout-align="center center">
		<form name="homeForm">
			<div>

				<div flex="100" flex-gt-sm="" layout-gt-sm="row">

					<md-autocomplete md-search-text="hm.searchText"
						md-selected-item-change="hm.selectedItemChange(item.name)"
						md-items="item in hm.querySearch(hm.searchText)"
						md-item-text="item.name" md-min-length="0"
						placeholder="Enter School Name" flex-gt-sm=""> <md-item-template>
					<span md-highlight-text="hm.searchText" md-highlight-flags="^i">{{item.name}}</span>
					</md-item-template> <md-not-found flex="50"> Not found! Type full name
					<a href ng-click="hm.newSchool(hm.searchText)">click here</a> to
					submit request . </md-not-found> </md-autocomplete>

					<md-input-container class="md-block" flex-gt-sm="">
					<label>City</label> <md-select name="city"
						ng-model="hm.search.city" placeholder="Select a city">
					<md-option ng-repeat="city in hm.cities" ng-value="$index">
					{{city.name}} </md-option> </md-select> </md-input-container>

				</div>


				<div layout="" ng-if="hm.search.state">
			        
			          In IE, we cannot apply flex directly to <fieldset>
			          @see https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
			       
			        	<div flex="30" layout="" layout-align="start center">
			        		<span class="md-body-2"><h4>School Medium :</h4></span>
			      		</div>
			            <div flex="" ng-repeat="medium in hm.states[hm.search.state].mediums">
			              <md-checkbox flex=""
			              	ng-checked="hm.search.medium.indexOf(medium.lang) > -1" 
			              	 ng-click="hm.mediumToggleSelection(medium.lang)"
			              	 ng-value="medium"
			              	  aria-label="Checkbox 1" >
				            {{medium.lang}}
				          </md-checkbox>
			            </div>
			    </div>

				<div layout="" ng-if="hm.search.city">
					
			          In IE, we cannot apply flex directly to <fieldset>
			          @see https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
			       
					<div flex="30" layout="" layout-align="start center">
						<span class="md-body-2"><h4>School Board :</h4></span>
					</div>
					<div flex=""
						ng-repeat="board in hm.cities[hm.search.city].supportedBoard">
						<md-checkbox ng-checked="hm.search.board.indexOf(board) > -1"
							ng-click="hm.boardToggleSelection(board)" ng-value="board"
							aria-label="Checkbox 1"> {{board}} <md-tooltip>
						{{board}} </md-tooltip> </md-checkbox>
					</div>
				</div>

				<h4>Fee/month : </h4>
			    <div layout="">
			      <div flex="5" layout="" layout-align="center center">
			        <span class="md-body-1">&#8377;</span>
			      </div>
			      <md-slider flex="" min="0" max="200000" ng-model="hm.search.feeUnder" aria-label="fee" id="fee-slider" class="">
			      </md-slider>
			      <div flex="25" layout="" layout-align="center center">
			        <input flex="" ng-model="hm.search.feeUnder" aria-label="fee" aria-controls="fee-slider" type="number">
			      </div>
			    </div>

				<div flex="100" flex-gt-sm="" layout="row" layout-xs="column">
					<md-button class="md-raised md-primary"
						ng-disabled="homeForm.$invalid" ng-click="hm.searchData()">Search</md-button>
				</div>

				<div ng-if="hm.schoolDataTiles">
					<md-divider></md-divider>
					<div class="gridListDynamicTiles">
						<div ng-if="hm.tileView" layout="row" layout-align="start">
							<i class="material-icons" ng-click="hm.changeSearchDataView()">view_list</i>
						</div>
						<div ng-if="hm.tileView">
							<md-subheader class="md-no-sticky">Total Result
							found {{hm.schoolDataTiles.length}}</md-subheader>
							<md-grid-list ng-href="#" md-cols-xs="3" md-cols-sm="3"
								md-cols-md="6" md-cols-gt-md="6" md-row-height-gt-md="1:1"
								md-row-height-xs="3:4" md-row-height-sm="2:3"
								md-row-height="3:4" md-gutter-gt-sm="4px" md-gutter-gt-xs="8px">

							<md-grid-tile ng-repeat="tile in hm.schoolDataTiles"
								md-rowspan="{{tile.span.row}}" md-colspan="{{tile.span.col}}"
								md-colspan-xs="1" md-rowspan-xs="1" md-colspan-sm="1"
								md-rowspan-sm="1" ng-class="tile.background"> <md-icon
								md-svg-icon="{{tile.icon}}"></md-icon> <md-grid-tile-footer
								layout-align="center center">
							<h4>{{tile.title}}</h4>
							</md-grid-tile-footer> </md-grid-tile> </md-grid-list>
						</div>
					</div>

					<div ng-if="hm.listView" layout="row" layout-align="start">
						<i class="material-icons" ng-click="hm.changeSearchDataView()">view_quilt</i>
					</div>

					<md-list ng-if="hm.listView" layout-align="center center">
					<md-subheader class="md-no-sticky">Total Result
					found {{hm.Data.length}}</md-subheader>
					<div layout-align="center center" flex="">
						<md-list-item class="md-3-line" ng-repeat="item in hm.Data">
						<md-icon md-svg-icon="avatar:svg-1"></md-icon>
						<div class="md-list-item-text" layout="column">
							<h3>{{item.id}}</h3>
							<h4>{{item.schoolName}}</h4>
							<p>I'll be in your neighborhood doing errands, your
								neighborhood doing errands</p>
						</div>
						<md-divider></md-divider> </md-list-item>
					</div>
					</md-list>
				</div>
			</div>
		</form>
	</div>

	</md-content>
 -->



</div>