	<link rel="stylesheet" href="/src/navbar/view/navBar.css">
<div ng-controller="navBarController as nv" id="header"
ng-init="nv.load()">
<md-toolbar>
    <div class="md-toolbar-tools">
		
          <span flex></span>
         <h1 style="color: white; font-weight: bold;" class="cursor-pointer"><span> <img src="assets/images/em1.png" alt="user avatar"> </span></h1>
        <span flex></span>
         <md-button ng-click="gotoLoginHome()">Login
         	<md-tooltip>Click to login</md-tooltip>
         </md-button>
       
       <!-- <md-button ng-click="showAddSchoolSignupDialog($event)">School Signup
       		<md-tooltip>Click to Signup for school</md-tooltip>
       	</md-button> -->
       
   </div>
</md-toolbar>
  <!-- <md-toolbar layout="row" class="md-whiteframe-z1">
      h1 style="color: white; font-weight: bold;" class="cursor-pointer"><span> eM </span></h1>
	<main class='md-padding' layout="row" flex>
	
        <div flex>	
       
         <div layout="row" layout-align="end center">
	 <img src="assets/images/em1.png" alt="user avatar"> 
	 
	    	<md-card-actions>
     <md-button ng-click="gotoLoginHome()">Login</md-button>
     	</md-card-actions>	
 	
     	
     	div ng-controller="schoolSignupCtrl">
     	<md-card-actions>		
		<md-button ng-click="showAddSchoolSignupDialog($event)">School Signup</md-button>
			</md-card-actions>				
     </div
     </div>
     		</div>
		

      
 
</main>
 </md-toolbar> -->
	
</div>			


